body {
    /* display: flex;
    background-image: url("images/1.png");
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: auto;
    width: 100%; */

}
h1 {
    color: blue;
}

img {
    width: 100%;

}